/*

Elegance Template

https://templatemo.com/tm-528-elegance

*/

.navbar-nav {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.navbar-nav li {
  margin-left: 30px; /*menu 選項間的距離*/
}
.navbar-nav li a {
  color:#fff;
  font-size: 15px;
  text-decoration:none;
  display:block;
  font-weight: 500;
  opacity: 0.9;
}
.navbar-nav li a:after {
  content:'';
  display:block;
  height: 2px;
  background:#fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform:scale(0);
  transform:scale(0);
  margin-top: 4px;
}
.navbar-nav li a:hover:after, .navbar-nav li.active a:after{
  -webkit-transform:scale(1);
  transform:scale(1);
}

/* myEdit */
@media(max-width: 768px){
  .navbar-nav {
    flex-direction: column;
  }
  .navbar-nav li {
    margin: 0px;
  }
  .navbar-nav li a:after {
    display:none;
  }
}